<!-- Navbar -->
<nav class="bg-white shadow-lg">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">


            <!-- Website Logo -->
            <div>
                <a href="/" class="flex items-center py-4 px-2">
                    <span class="font-semibold text-gray-500 text-lg">LEGO Collection</span>
                </a>
            </div>


            <!-- Primary Navbar items -->
            <div class="hidden md:flex items-center space-x-1">
                <a href="/" class="<%= (page === 'home') ? 'py-4 px-2 text-green-500 border-b-4 border-green-500 font-semibold' : 'py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300' %>">Home</a>
                <a href="/lego/sets" class="<%= (page === 'sets') ? 'py-4 px-2 text-green-500 border-b-4 border-green-500 font-semibold' : 'py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300' %>">Collection</a>
                <a href="/about" class="<%= (page === 'about') ? 'py-4 px-2 text-green-500 border-b-4 border-green-500 font-semibold' : 'py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300' %>">About</a>
            </div>


            <!-- Mobile Menu Icon -->
            <div class="md:hidden flex items-center">
                <button class="mobile-menu-button">
                    <svg class="w-6 h-6 text-gray-500 hover:text-green-500" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                        <path d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>


    <!-- Mobile Menu -->
    <div class="hidden mobile-menu">
        <ul>
            <li><a href="/" class="<%= (page === 'home') ? 'block text-sm px-2 py-4 text-white bg-green-500 font-semibold' : 'block text-sm px-2 py-4 hover:bg-green-500 transition duration-300' %>">Home</a></li>
            <li><a href="/lego/sets" class="<%= (page === 'sets') ? 'block text-sm px-2 py-4 text-white bg-green-500 font-semibold' : 'block text-sm px-2 py-4 hover:bg-green-500 transition duration-300' %>">Collection</a></li>
            <li><a href="/about" class="<%= (page === 'about') ? 'block text-sm px-2 py-4 text-white bg-green-500 font-semibold' : 'block text-sm px-2 py-4 hover:bg-green-500 transition duration-300' %>">About</a></li>
        </ul>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const menuButton = document.querySelector('.mobile-menu-button');
        const mobileMenu = document.querySelector('.mobile-menu');

        menuButton.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
        });
    });
</script>
