<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEGO Sets Collection</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="bg-gray-100">
    <%- include('partials/navbar', {page: 'sets'}) %>
    

    <!-- Hero Section -->
    <div class="hero min-h-screen bg-base-200">
        <div class="text-center hero-content">
            <div class="max-w-md">
                <h1 class="mb-5 text-5xl font-bold">Explore LEGO Sets</h1>
                <p>Filter out sets for a featured theme from the following:</p>
                <div class="mt-4 flex justify-center items-center flex-wrap gap-4">
                    <a href="/lego/sets?theme=Technic" class="btn">Technic</a>
                    <a href="/lego/sets?theme=Supplemental" class="btn">Supplemental</a>
                    <a href="/lego/sets?theme=Basic Set" class="btn">Basic Set</a>
                    <a href="/lego/sets?theme=Books" class="btn">Books</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Sets Grid Section -->
    <section class="container mx-auto px-4 py-8">
        <div class="grid md:grid-cols-3 gap-4">
            <% sets.forEach(set => { %>
                <div class="card bg-base-100 shadow-xl">
                    <figure>
                        <img src="<%= set.img_url %>" alt="<%= set.name %>" class="rounded-t-lg">
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title"><%= set.name %></h2>
                        <p>Theme: <%= set.theme %></p>
                        <p>Year: <%= set.year %></p>
                        <p>Parts: <%= set.num_parts %></p>
                        <div class="card-actions justify-end">
                            <a href="/lego/sets/<%= set.set_num %>" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </section>
</body>
</html>
